body, html {
	height:100%;
	font-family: 'BioRhyme', serif;
}

.container {
	width: 100%;
	height:100%;
	display:flex;
	/* flex-direction: row;	 */
	flex-direction: row;
}

.container > * {
	width:30rem;
	margin:auto;
	padding:0;
	margin: auto;
	  /* width:200px; */
}

h1 {
	font-family: 'Passion One', sans-serif;
}

footer {
	font-size: .8rem;
}